<!--The decription of Splurty takes up the center ten columns of the page-->
<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		This version of Splurty was built by <a href="https://github.com/NoahFinberg">Noah Finberg:</a> an aspiring web developer/entrepreneur and student of the <a href="http://www.thefirehoseproject.com">FireHoseProject's</a> 13-week boot camp. Splurty is the next generation of 'word vomit'; instead of spitting out senseless sentences, it regurgitates the wise words of philosophers and statesmen. If you too have the urge to purge, <%= link_to 'contribute.', '#', :data => { :toggle => 'modal', :target => '#myModal' } %>
	</p>

</div>

<br />
<br />

<!--The author bio takes up ten columns on xtra-small screens and seven on larger ones-->
 <div class="col-xs-10 col-sm-7 col-sm-offset-1 about">
    <h2 class="text-center bio">About Noah</h2>
    <br />
    <p>
    	When Noah isn't building web applications, he is studying Government, Economics, and Mathematics at Bowdoin College in Brunswick, Maine; playing way too much ping pong; or soaking up sun on the tennis court.
    </p>
 </div>

<!--The author picture takes up ten columns on an xtra-small screen and four on larger ones-->
 <div class="col-xs-10 col-sm-4 picture">
 	<br />
	<br />
	<!--Author Image-->
 	<p>
    <%= image_tag 'noah.jpg', :class => 'img-responsive' %>
	</p>

	<br class="clear" />
	<br />
	<br />
</div>

