<!-- VIEW FOR THE HOMEPAGE -->

<h2>
	<!--Present the user with the motivational intro message and current quote id -->
	<span>SPLURTY / <%= @quote.unique_tag %>:</span>
	Get pumped for some semi-random pontification!
</h2>

<br />

<!--Display the actual quote within quotation-marks -->
<h1><%= '"' + @quote.saying + '"' %></h1>
<!--Displays the author associated quote on the right side of the screen-->
<h2 class="pull-right"><%= "--" + @quote.author %></h2>


